# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive - Budapesti Műszaki és Gazdaságtudományi Egyetem\MSc\01_felev\deep\DreamTeam-deep-learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
